/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}
body{
	margin: 0 auto;
}
.container{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 50px;
}
.container .btn{
	padding: 5px;
    background: #fb2525;
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.container .btn:hover {
    cursor: pointer;
    background-image: linear-gradient(#f9da0c, #C19918);
    color: #000;
}
.formContainer{
	width: 30%;
    background: #000;
    border-radius: 20px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 30px;
    transform: translate(0%, 0%);
    box-sizing: border-box;
    padding: 30px 30px;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.formContainer > h1{
	border-bottom: 2px solid #fb2525;
}
.formContainer label{
	margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    /*font-weight: bold;*/
}
.formContainer input{
	width: 100%;
    margin-bottom: 5px;
}
.formContainer input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="number"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 16px;
}
.formContainer select{
	border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    width: 95%;
    margin-bottom: 20px;
    padding: 2px;
    background: transparent;
    color: #fff;
}
.formContainer input:-internal-autofill-selected{
	background-color: #000;
    color: #fff;
}
.formContainer select option{
	background-color: #000;
    color: #fff;
}
.formContainer input[type="submit"] {
    border: none;
    outline: none;
    margin-top: 10px;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
}
.formContainer input[type="submit"]:hover {
    cursor: pointer;
    background-image: linear-gradient(#f9da0c, #C19918);
    color: #000;
}
.formContainer a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: darkgrey;
}
.formContainer a:hover {
    color: #f9da0c;
}
.formContainer >h1 {
    text-align: center;
}
/*Tables*/

.tableContainer table{
	margin: 0 auto;
	margin-bottom: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.tableContainer table tr:nth-child(even) {
	background-color: #ababab;
}
.tableContainer table tr:nth-child(odd) {
	background-color: #dbdbdb;
}
.tableContainer table .btn{
	margin: 0 auto;
	font-size: 14px;
}
.tableContainer table .btnedit{
	background-color: #3e823b;
}
/*Details for user or student on edit page*/
.details{
	margin-bottom: 60px;
	text-align: center;
}
.details h2{
	
}
.details p{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
	border: 1px solid #AEAEAE;
    border-radius: 10px;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    background-color: #ababab;
}
/*Navigation on admin page*/
.container h1{
	text-align: center;
	margin-bottom: 50px;
}
.container nav{
	background-color: #002059;
	width: 100%;
}
.container nav ul{
	/*display: flex;*/
	text-align: right;

}
.container nav ul li {
    display: inline-block;
    border-radius: 10px;
    line-height: 60px;
    padding-right: 10px;
    color: #fff;
}
.container nav li a {
    margin: 1px;
    padding: 10px;
    border-radius: 10%;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.container nav li a:hover {
    cursor: pointer;
    color: #000;
    background-image: linear-gradient(#f9da0c, #C19918);
}
/*student list*/

.studentList li{
	border-radius: 10px;
    line-height: 30px;
    padding-right: 10px;
    color: #fff;
    font-size: 24px;
}
.studentList li a{
	margin: 1px;
    padding: 10px;
    border-radius: 10%;
    text-decoration: none;
    text-align: center;
}
.messageForm{
    width: 50%;
    background: #000;
    border-radius: 20px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 20px;
    transform: translate(0%, 0%);
    box-sizing: border-box;
    padding: 30px 30px;
}

.messageForm label{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}